################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/zv/zv/Library
